*.pyc
*~
*.tmp
*.log
*.svg
*.png

*.o

# Frontend
front/node_modules/*
front/bower_components/*
front/build/*

collectedstatic/*

###################################
# Gumby.css gitignore
###################################

# Numerous always-ignore extensions
*.bak
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
.sass-cache

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
nbproject
*.sublime-project
*.sublime-workspace

# Dreamweaver added files
_notes
dwsync.xml
