{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
	<head>
	 <meta charset="utf-8">
	 <link rel="stylesheet" href="{% static 'style.css' %}">
	 <!-- bower:css -->
	 <!-- endbower -->
	 <title>Gsevol - phylogenetic analysis tool</title>
	 </head>
	<body>
	<!-- bower:js -->
	<script src="{% static 'jquery/dist/jquery.js' %}"></script>
	<script src="{% static 'react/react.js' %}"></script>
	<script src="{% static 'react-router/build/umd/ReactRouter.js' %}"></script>
	<!-- endbower -->
	<script src="{% static 'utils.js' %}"></script>
	{% block scripts %}
	{% endblock %}
	    <div class="navbar" id="topbar">
        <div class="row">
            <h1><a href="/">Gsevol</a></h1>
            <ul>
				{% block header %}
				{{ header }}
				{% endblock %}
            </ul>
        </div>
	    </div>
	    <div class="row">
			<div id="alerts">
			    </div>
		</div>
		<div class="row">
			<div id="main">
			{% autoescape off %}
				{% block content %}
				{{ content }}
				{% endblock %}
			{% endautoescape %}
			</div>
		</div>
	</body>
</html>
