{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
	<head>
	 <meta charset="utf-8">
	 <link rel="stylesheet" href="{% static 'style.css' %}">
	 <!-- bower:css -->
	 <!-- endbower -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	 <title>Gsevol - phylogenetic analysis tool</title>
	 </head>
	<body>
	<!-- bower:js -->
	<script src="{% static 'jquery/dist/jquery.js' %}"></script>
	<script src="{% static 'bluebird/js/browser/bluebird.js' %}"></script>
	<script src="{% static 'lodash/lodash.js' %}"></script>
	<script src="{% static 'react/react.js' %}"></script>
	<!-- endbower -->
	<script src="{% static 'react/react-with-addons.js' %}"></script>
	<script src="{% static 'utils.js' %}"></script>
	{% block scripts %}
	{% endblock %}
	    <div class="navbar" id="topbar">
        <div class="row">
            <h1 class="logo"><a href="/">Gsevol</a></h1>
            	<div id="nav"></div>
        </div>
	    </div>
	    <div class="row">
			<div id="alerts">
			    </div>
		</div>
		<div class="row">
			<div id="main">
			{% autoescape off %}
				{% block content %}
				{{ content }}
				{% endblock %}
			{% endautoescape %}
			</div>
		</div>
	    <div id="options" style="visibility:hidden">
	    </div>
	</body>
</html>
