{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
	<head>
     <title>Gsevol - phylogenetic analysis tool</title>

	{% include 'dependencies.html' %}

	{% block scripts %}
	{% endblock %}
	{% block navbar %}
	    <div class="navbar" id="topbar">
        <div class="row">
            <h1 class="logo"><a href="/">Gsevol</a></h1>
            	<div id="nav"></div>
        </div>
	    </div>
	{% endblock %}
	    <div class="row">
			<div id="alerts">
			    </div>
		</div>
		<div class="row">
			<div id="main">
			{% autoescape off %}
				{% block content %}
				{{ content }}
				{% endblock %}
			{% endautoescape %}
			</div>
		</div>
	    <div id="options" style="visibility:hidden">
	    </div>
	</body>
</html>
