{% extends 'base.html' %}
{% load staticfiles %}
{% block scripts %}
    <script src="{% static 'app.js' %}"></script>
    <script src="{% static 'results.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
{% endblock %}
{% block content %}
    <form id="input-form" method="post" class="pure-form pure-form-aligned">
        <div class="pure-control-group">
            <label for="gene">Gene tree</label>
            <input class="pure-input" type="text" name="gene"
                value="{{ default_gene }}" id="gene" />
        </div>
        <div class="pure-control-group">
        <label for="species">Species tree</label>
        <input class="pure-input" type="text" name="species"
            value="{{ default_species }}" id="species" />
            <button type="submit" value="Submit"
                class="pure-button pure-button-primary">Submit</button>
        </div>
    </form>
    <div id="results">
    </div>
{% endblock %}
