{% extends 'base.html' %}
{% load staticfiles %}

{% block scripts %}
{{ block.super }}
    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'lists.js' %}"></script>
    <script src="{% static 'results.js' %}"></script>
    <script src="{% static 'unrooted.js' %}"></script>
    <script src="{% static 'rooted.js' %}"></script>
    <script>
        $(function(){
            var app = React.render(
                React.createElement(Nav, {}),
                document.getElementById('nav')
            );
        })
    </script>
    {% if show_results %}
    <script>
    $(function(){
        var app = React.render(
            React.createElement({{ result_component }}, {}),
            document.getElementById('results')
        );
    })
    </script>
    {% endif %}
{% endblock %}

{% block content %}
    {% include form_template %}
    <div id="results">
    </div>
{% endblock %}

