    <form id="input-form" method="get" action="{{ form_url }}">
        <div class="pure-control-group">
            <label for="scenario">Scenario</label>
            <input type="text" name="scenario"
                value="{{ default_scenario }}" id="scenario" />
        </div>
        <div class="pure-control-group">
        <label for="species">Species tree</label>
        <input type="text" name="species"
            value="{{ default_species }}" id="species" />
            <button type="submit" value="Submit">Submit</button>
        </div>
    </form>
