@import "bower_components/purecss-sass/vendor/assets/stylesheets/_purecss.scss";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
#main  {
    margin-top: 0px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    width: 100%;
    font-size: 12px;

}
#topbar  {
    font-family: Montserrat, sans-serif;
    background: #333333;
    padding-left: 100px;
    padding-right: 100px;
    background: #333;
    color: #ffffff;
    height: 70px;
    margin-bottom: 30px;
}
#topbar a {
    color: #dddddd;
    text-decoration: none;
}
.logo  {
    font: bold 30px;
    color: #0d0403;
    margin-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;

}
#nav ul {
    list-style: outside none none;
}
#nav > ul > li {
    float: left;
    padding: 15px;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #dddddd;
    font-weight: 700;
    text-transform: uppercase;
}
#nav > ul > li.current {
    background: #151515;
}
#results {
    margin-top: 20px;
}
.result-tile  {
    font-size: 10pt;
    text-align: center;
    font-color: #000000;
    border: #000000 1px solid;
    border-radius: 3px;
    background: #ffffff;
    margin: 0px 2px 4px 2px;
    flex-grow: 1;
}
.title  {
    font-size: 10pt;
    text-align: left;
    background: #BDBDBD;
    position: relative;
    width: auto;
    padding: 8px 12px 8px 12px;
    margin-bottom: 5px;
}
svg  {
    display: block;
    margin: auto;
}
.row  {
    display: flex;
    flex-wrap: wrap;
}
button.slim  {
    padding: 5px;
}
#input-form, #options-form {
    @extend .pure-form;
    @extend .pure-form-aligned;
}
#input-form input[type="text"]  {
    @extend .pure-input-1;
    width: 70% !important;
}
#options input {
    @extend .pure-input-1;
    width: 30% !important;
}
#options select {
    color: #000000;
    width: 30%;
}

#results svg {
    /* Changed by pure.css, needed to show tags in pictures. */
    overflow: visible;
}
.alert  {
    padding:  5px 10px;
    font-weight:  600;
    list-style-type:  none;
    word-wrap:  break-word;
    margin-bottom:  8px;
    font-size:  14px;
    font-size:  0.875rem;
    -moz-border-radius:  4px;
    -webkit-border-radius:  4px;
    border-radius:  4px;
}
.alert.danger  {
    background:  #df8989;
    border:  1px solid #ca3838;
    color:  #7b2121;
}
button {
    @extend .pure-button;
}
#options {
    background: #333333;
    width: 250px;
    position: fixed;
    overflow-y: auto;
    right: 0;
    top: 0;
    bottom: 0;
    border-left: 1px #000000 solid;
    color: #ffffff;
    padding: 0 15px 15px 15px;
    font-size: 12px;
}
#options input {
    color: #000000;
}
#options h3 {
    font-family: Montserrat, sans-serif;
    display: inline-block;
    margin-bottom: 15px;
}
#options .fold {
    position: relative;
    top: -15px;
    left: -15px;
    background: #333333;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 13pt;
    margin-bottom: -20px;
    border: 1px solid;
}
table.tree {
    margin: auto;
}
.tree .tree-menu {
    vertical-align: top;
    padding-top: 20px;
    text-align: left;
}
.tree-menu .fa {
    color: #dddddd;
    font-size: 16pt;
    margin: 1px;
    &:hover {
        color: #333333;
    }
}
